body{
    background-color: #121212;  
    color: #e8e6e3;
    font-family:'Inter', sans-serif;
    line-height: 1.6;

}

a{
        color: #f5b942;
    }

h1, h2, h3{
    font-family: 'Space Grotesk', sans-serif;
}